<div class="sidebar">
  <div class="container sidebar-sticky">
    <div class="sidebar-about">
      <h1>
        <a href="{{ site.baseurl }}">{{ site.title }}</a>
      </h1>
      <p class="lead">{{ site.description }}</p>
    </div>

    <nav class="sidebar-nav">
      <a class="sidebar-nav-item{% if page.url == site.baseurl %} active{% endif %}" href="{{ site.baseurl }}">Home</a>

      {% comment %}
        The code below dynamically generates a sidebar nav of pages with
        `layout: page` in the front-matter. See readme for usage.
      {% endcomment %}

      {% assign pages_list = site.users | sort:"url" %}
      {% assign cur_page = site.baseurl | append:"users/" %}
      <a class="sidebar-nav-item{% if page.url == cur_page %} active{% endif %}" href="{{ cur_page }}">Users</a>
      <ul>
      {% for node in pages_list %}
        {% if node.title != null %}
          {% if node.layout == "post" %}
            <li><a class="sidebar-nav-item{% if page.url == node.url %} active{% endif %}" href="{{ node.url }}">{{ node.title }}</a></li>
          {% endif %}
        {% endif %}
      {% endfor %}
      </ul>

      {% assign pages_list = site.developers | sort:"url" %}
      {% assign cur_page = site.baseurl | append:"developers/" %}
      <a class="sidebar-nav-item{% if page.url == cur_page %} active{% endif %}" href="{{ cur_page }}">Developers</a>
      <ul>
      {% for node in pages_list %}
        {% if node.title != null %}
          {% if node.layout == "post" %}
            <li><a class="sidebar-nav-item{% if page.url == node.url %} active{% endif %}" href="{{ node.url }}">{{ node.title }}</a></li>
          {% endif %}
        {% endif %}
      {% endfor %}
      </ul>

      {% assign pages_list = site.administrators | sort:"url" %}
      {% assign cur_page = site.baseurl | append:"administrators/" %}
      <a class="sidebar-nav-item{% if page.url == cur_page %} active{% endif %}" href="{{ cur_page }}">Administrators</a>
      <ul>
      {% for node in pages_list %}
        {% if node.title != null %}
          {% if node.layout == "post" %}
            <li><a class="sidebar-nav-item{% if page.url == node.url %} active{% endif %}" href="{{ node.url }}">{{ node.title }}</a></li>
          {% endif %}
        {% endif %}
      {% endfor %}
      </ul>

      <a class="sidebar-nav-item" href="https://github.com/syndicate-storage">GitHub</a>
      <a class="sidebar-nav-item" href="https://butler.opencloud.cs.arizona.edu/jenkins">Download</a>
    </nav>

    <p>&copy; {{ site.time | date: '%Y' }}. All rights reserved.</p>
  </div>
</div>
